.chip {
    background-color: #FFFFFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    outline: none;
    padding: 10px 15px;
  }
  .chip:hover {
    background-color: #d0d0d0;
  }
  .chipText {
    color: #3886AD;
    font-size: 14px;
  }